html, body {
  margin: 0;
  padding: 0;
  background-color: #D8F3FF;
}

canvas {
  display: block;
}

.btnStyle {
  padding: 10px;
  border: 1px solid;
  border-color: #333;
  color:  #333;
  background-color: transparent;
  margin-bottom: 30px;
  margin-right: 50px;
  border-radius: 10px;
  width: 130px;
}

.btnStyle:hover {
  background-color: #b9d3df;
}
